body {
font-family: "Roboto","OpenSans", sans-serif;
color: #555252;
font-size: 14px;
line-height: 26px;
}

.logo {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 32px;
}

.logo::first-letter {
    font-weight: 900;
    color: #1abc9c;
}

.site-navigation {
    font-size: 14px;
    list-style: none;
}

.site-navigation a {
    font-family: "OpenSans" , sans-serif;
    font-weight: 700;
    line-height: 11px;
    color: #0f0101;
    text-transform: uppercase;
    text-decoration: none;
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 900;
    color: #515151;

}
.features-list {
    list-style: none;
}

.features-list {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 900;
}
.features-list .title-products {
    color: green;
    
}

.features-list .right {
    color: red;
  
}

.title-news {
    font-family: "OpenSans" , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

}