html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
font-family: "Roboto","OpenSans", sans-serif;
color: #555252;
font-size: 14px;
line-height: 26px;
}


.clearfix::after {
display: table;
content: "";
clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

/* HEADER*/

.logo {
    font-family: "Roboto", sans-serif;
    color :#555252;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 32px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    float: left;
    padding-top: 37px;
  
}

.logo::first-letter {
    font-weight: 900;
    color: #1abc9c;
}

.site-navigation {
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 505px;
    float: right;
    padding-top: 43px;
  
   
}
.site-navigation li {
    float: left;
}

.site-navigation li:not(:last-child) {
margin-right: 30px;
}

.site-navigation a:hover,
.site-navigation a:focus {
color: #74d5c1;
}

.page-header {
    margin-bottom: 105px;

}
.site-navigation a {
    font-family: "OpenSans" , sans-serif;
    font-weight: 700;
    line-height: 11px;
    color: #0f0101;
    text-transform: uppercase;
    text-decoration: none;
}

/* PRODUCTS */

.title {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 900;
    color: #515151;
    text-align: center;
    margin: 0;
    padding: 0;

}

.title::after {
    display: block;
    width: 163px;
    height: 7px;
    background-color: #74d5c1;
    content: '';
    margin: 0 auto;
    margin-top: 32px;
}

.info {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 900;
    background: pink;
}
.features-list {
    list-style: none;   
    margin: 0;
    padding: 0;

   
}

.features-list .title-products {
    color: green;
    
}

.features-list .right {
    color: red;
  
}


.features-list-item {
float: left;
width: 255px;
padding: 0;
margin-right: 30px;
}

.features-list li:nth-child(4n) {
    margin-right: 0;
}

    

/* NEWS */

.title-news {
    font-family: "OpenSans" , sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
    padding: 0;
}

.title-news::after {
    display: block;
    width: 136px;
    height: 3px;
    background-color: #74d5c1;
    content: '';
    margin-top: 15px;
    margin-bottom: 30px;
}

.list-news .title {
    margin-bottom: 120px;
}



.list-news .news {
    width: 350px;
    float: left;
    margin-right: 30px;
}

.list-news {
    margin: 0;
    padding: 0;
}

.list-news :last-child {
    margin-right: 0;
}

.news-text {
    margin: 0;
    padding: 0;
    margin-bottom: 19px;

}

.news a {
    font-family: "OpenSans" , sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;   
    color: #ffffff;
    text-decoration: none;
}
.read-more {
    margin: 0;
    padding: 0;
    margin-bottom: 81px;
    display: inline-block;
    background-color: #74d5c1;
    padding: 20px 45px;
    border-radius: 4px;
}