.picture-back {

    background-image: linear-gradient(rgba(243, 129, 129, 0.7), rgba(252, 227, 138, 0.7)),
    url(../images/pic-back2.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}