.second-part {
    padding-bottom: 230px;
}

.second-part__title {
   @extend %section-title-first;
    color: #fff;
  

    margin-bottom: 65px;
    text-align: center;

}

.second-part__text {
    font-family: "Montserrat", sans-serif;
    font-size: 150px;
    color: #fff;
    font-weight: 700;

    line-height: 140px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    width: 821px;
    margin: 0 auto;
    margin-bottom: 125px;
}

.second-part__but {
    @extend %montserrat-bold ;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    border: 2px solid #fff;
    padding: 12px 30px;
    background: transparent;
    text-transform: uppercase;
    margin: 0 auto;


}