.section__first-title {
    @extend %section-title-first;
    font-size: 24px;
    line-height: 28.8px;
    color: $primarily-dark;
    text-align: center;
    margin-bottom: 23px;

}

.section__second-title {
    @extend %montserrat-bold ;
    font-size: 30px;
    line-height: 36px;
    color: $primarily-dark;
    text-align: center;
    margin-bottom: 65px;
    text-transform: uppercase;

}
.section__second-title::after {
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: $primarily-pink;
    margin: 0 auto;
    margin-top: 42px;
}


.service {
    margin-bottom: 90px;
    padding-top: 48px;
}
