html {
    box-sizing: border-box;
}

/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v8-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
        url('../fonts/roboto-slab-v8-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-slab-v8-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-slab-v8-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-slab-v8-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-slab-v8-latin-regular.svg#RobotoSlab') format('svg');
    /* Legacy iOS */
}

/* merriweather-italic - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/merriweather-v20-latin-italic.eot');
    /* IE9 Compat Modes */
    src: local('Merriweather Italic'), local('Merriweather-Italic'),
        url('../fonts/merriweather-v20-latin-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/merriweather-v20-latin-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/merriweather-v20-latin-italic.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/merriweather-v20-latin-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/merriweather-v20-latin-italic.svg#Merriweather') format('svg');
    /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v13-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v13-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v13-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v13-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v13-latin-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v13-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v13-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v13-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v13-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v13-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v13-latin-700.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

* {
    font-size: 14px;
    line-height: 16.8px;
    color: #777777;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

.container {
    width: 940px;
    margin: 0 auto;
}

/* HEADER */

.site-navigarion a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 41px;
    font-weight: 700;
    font-style: normal;
    color: #222222;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

}

.site-navigarion a:hover {
    color: #fed136;
}

.site-navigarion {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 485px;
    justify-content: space-between;

}

.nav-header {
    display: flex;
    min-height: 110px;
    align-items: center;
    justify-content: space-between;
}
.main-logo {
    display: block;

}
.logo {
    display: flex;
    justify-content: flex-start;

}

/* SERVICES */

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    font-size: 40px;
    line-height: 75px;

    text-align: center;
    margin-bottom: 19px;
}

.sub-title {
    font-family: 'Merriweather';
    font-style: italic;
    font-size: 16px;
    line-height: 19.2px;

    text-align: center;
    margin-bottom: 75px;
}

.box-services {
    display: flex;
    list-style: none;
}

.item-services {
    width: 290px;
    padding-bottom: 121px;
}

.box-services li:not(:last-child) {
    margin-right: 35px;
}

.service-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #222222;
    margin-bottom: 13px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 19px;

}

.sub-service-title {
    font-family: 'Roboto Slab';
    font-style: normal;
    text-align: center;


}

.item-services::before {
    display: block;
    content: "";
    width: 70px;
    height: 70px;
    border: 2px solid #fed136;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 24px;
}

.item-services:first-of-type::before {
    background-image: url("../images/Icon-Basket.png")
}

.item-services:nth-of-type(2)::before {
    background-image: url("../images/Icon-Laptop.png")
}

.item-services:nth-of-type(3)::before {
    background-image: url("../images/Icon-Locked.png")
}

/* CONTACT */

.title-contact {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    font-size: 40px;
    text-align: center;
    margin-bottom: 24px;
    color: #fafafa;
    padding-top: 109px;
}


.text-contact {
    font-family: 'Merriweather';
    font-style: italic;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    margin-bottom: 75px;
}

.contact {
    background-color: #222222;
    background-image: url(../images/Map\ Image.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 115px;
}

/* INPUT */


.inner {
    display: flex;
    height: 222px;
    margin-bottom: 29px;
}

.input-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
}


.input-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #bbbbbb;
    text-transform: uppercase;
    padding: 20px;
    border: none;
    border-radius: 2px;
    width: 460px;
}

.input-text-area {
    border: 0;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #bbbbbb;
    text-transform: uppercase;
    padding: 20px;
    width: 455px;
}


.but {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 26px 53px;
    background-color: #fed136;
    border-radius: 2px;
    bottom: 0;  
  

   
}

.but-div {
    display: flex;
    justify-content: center;
}


input:invalid {
    border: 2px solid rgb(255, 0, 0);
  }
  
  input:valid {
    border: 2px solid rgb(0, 255, 0);
  }