html{
    box-sizing: border-box;
}
*,
*::before, 
*::after {
box-sizing: inherit;
}

.one {
text-transform: uppercase;
color: orange;
}

.container {
display: inline-block;
width: 920px;
margin: 20px 20px;
}

.menu {
    width: 800px;
    margin: auto;
    background: pink;
    padding: 10px 0 10px 40px;
    text-align: center;

}

.menu-item {
display: inline-block;
margin-right: auto; 

}

.menu-link {
    display: block;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

section {
    block-size: 470px;
}